body{
    text-align: center;
    font-size: 25px;

}

table{
    text-align:center;
    margin-left: 595px;
    border-collapse: collapse;
}
table, td, th{
    border:1px solid;
    border-spacing:2px;
    border-color: rgb(55, 233, 233);

}